#menu_mcard
{
    height: 41px;
}

#menu_mcard ul
{
    display: inline-block;
    padding: 0em 2em 0em 18px;
    text-align: center;
}

#menu_mcard li
{
    display: inline-block;
}

/*#menu_mcard li a, #menu_mcard li span
{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
    outline: 0;
    color: #274142;
}*/

#menu_mcard li:hover a, #menu_mcard li.active a, #menu_mcard li a, #menu_mcard li.active span
{
    border-radius: 4px 4px 0px 0px;
}

/*#menu_mcard .current_page_item a
{
}*/

.medical-card {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
}
.profile-img {
    height: 120px;
    background: white;
}
.specialization {
    color: #666666;
    font-size: 17px;
}
.diagnosis {
    font-size: 16px;
}

.well {
    overflow: auto;
    background: white;
}

.mcard_content {
    border: 1px solid #35bfae;
    margin-bottom: 0;
}

#appointmentsHistoryListIsEmpty {
    display: none;
}

#pendingAppointmentsListIsEmpty {
    display: none;
}