/**
 * Added by Pavlo Kuchereshko.
 */

.password-background {
    position: relative;
    top: -34px;
    margin-bottom: -34px;
    height: 34px;
    width: 0;
    border-radius: 4px;
    z-index: -1;
    /* CSS Transitions */
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    /*Transparency*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=30);  /* IE 5-7 */
    -moz-opacity: 0.30;          /* Netscape */
    -khtml-opacity: 0.30;        /* Safari 1.x */
    opacity: 0.30;
}

#passwordReg {
    background: inherit;
}

.strengthPsw {
    float: right;
}
#wrapper {
    position: relative;
}
#eye_button {
    position:absolute;
    width: inherit;
    top:0;
    right:0;
    /*width:20px;*/
    height:20px;
}


#eye {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=80);  /* IE 5-7 */
    -moz-opacity: 0.8;          /* Netscape */
    -khtml-opacity: 0.8;        /* Safari 1.x */
    opacity: 0.8;

    z-index: 0;
    position: absolute;
    right: 4px;
    top: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background: #b7ebed;
    border-radius: 3px;
    padding: 5px;

    transition: all .2s;
}

#eye_wrapper {
    position: relative;
}

.form-group {
    margin-bottom: 15px;
    overflow: auto;
}