<footer>
  <div class="row row-footer">
    <div class="col-xs-5 col-offset-1 col-sm-2 col-sm-offset-1">
      <h5>Links</h5>
      <ul class="list-unstyled">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/clinics">Clinics</a></li>
        <li><a routerLink="/doctors">Doctors</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-5">
      <h5>Our address</h5>
      <address>
        Fedkovycha street, 60<br>
        Lviv<br>
        Ukraine<br>
        <i class="fa fa-phone"></i>: +382 1234 5678<br>
        <i class="fa fa-fax"></i>: +382 8765 4321<br>
        <i class="fa fa-envelope"></i>: <a href="mailto:lv251clinics@gmail.com">lv251clinics@gmail.com</a>
      </address>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="nav navbar-nav" style="padding: 40px 10px;">
        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
          class="fa fa-facebook"></i></a>
        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
          class="fa fa-linkedin"></i></a>
        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <div class="col-xs-12">
      <p style="padding:10px;"></p>
      <p align="center">© Copyright 2017 SoftServe Inc.</p>
    </div>
  </div>
</footer>
