<div class="col-sm-9" style="width: 100%">
  <div  class="well mcard_content">
  <div class="col-sm-6 appointmentWrapper">
    <div class="appointmentFloatContainer">
      <div class="appointmentInner label label-success appointmentIsNotApproved">
        Approved
      </div>
    </div>

<div class="medical-card">
  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle profile-img" alt="Photo">
    </div>
    <div class="media-body">
      <div>
        <div >
          <h3 class="media-heading">Doctor Name Surname</h3>
        </div>
      </div>

      <div class="specialization">Specialization</div>
      <div class="diagnosis">Diagnos</div>
      <div class="diagnosis">25.03.12</div>
    </div>
  </div>
</div>
  </div>
  </div>
</div>
