<div class="container-fluid">
  <div class="row content">
    <br>
<div id="menu_mcard" style="cursor: pointer">
  <ul>
    <li><a id="appointmentsHistoryLink" class="navbar-inverse list-group-item">Appointments History</a></li>
    <li><a id="pendingAppointmentsLink" class="list-group-item">Pending Appointments</a></li>
  </ul>
</div>
<!--<div id="appointmentsHistoryListIsEmpty">-->
  <div class="well mcard_content">
    <div class="col-sm-6" style="width: 100%; padding-left: 0; padding-right: 0;">
      <div class="medical-card alert alert-info">
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading" style="text-align: center">No Past Appointments</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
<!--<div id="pendingAppointmentsListIsEmpty">-->
  <div class="well mcard_content">
    <div class="col-sm-6" style="width: 100%; padding-left: 0; padding-right: 0;">
      <div class="medical-card alert alert-info">
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading" style="text-align: center">No Pending Appointments</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
  </div>
</div>
