.navbar-inverse {
  color: #fff;
  background: #72d9b9;
}

.flag{display:inline-block;width:16px;height:11px;background: no-repeat}.flag.flag-ua{background-position:-16px 0}.flag.flag-gb{background-position:0 0}
