<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ><a href="#" >Clinics</a></li>
        <li><a href="#" >Doctors</a></li>
        <li><a href="#" >Contacts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li><a href="#" >LogIn</a></li>
      </ul>
    </div>
  </div>
</nav>
