<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9 form-group">
          <label for="name">First Name</label>
          <input formControlName="name" type="text" name="name" id="name" class="form-control">
          <span *ngIf="!editUserForm.get('name').valid && editUserForm.get('name').touched" class="help-block">Enter valid name!</span>
          <label  for="lastName">Last Name</label>
          <input formControlName="lastName" name="lastName" id="lastName" class="form-control">
          <span *ngIf="!editUserForm.get('lastName').valid && editUserForm.get('lastName').touched" class="help-block">Enter valid Last name!</span>
          <label for="email">Email</label>
          <input  formControlName="email" type="text" name="email" id="email" class="form-control">
          <span *ngIf="!editUserForm.get('email').valid && editUserForm.get('email').touched" class="help-block">Enter valid email!</span>
          <label  for="city">City</label>
          <input formControlName="city" name="lastName" id="city" class="form-control">
          <label  for="address">Address</label>
          <input formControlName="address" name="address" id="address" class="form-control">
          <label  for="district">District</label>
          <input formControlName="district" name="lastName" id="district" class="form-control">
          <button class="btn btn-success" type="submit" *ngIf="!editUserForm.invalid" (click)="onSave()" >Add</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>

      </div>

</form>


