<a href="#">
  <div class="row row-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img width="200" height="200" [src]="'data:image/jpg;base64,'+clinic.photo"

                 alt="...">
          </a>
        </div>
        <a href="#" class="btn-link">
          <span class="doc-name"> {{clinic.name}}</span>
        </a>
        <p>Clinics Phone: {{clinic.firstPhone}}</p>
        <hr>
        <p>Clinic Address : {{clinic.city}} {{clinic.address}}</p>
        <p>District : {{clinic.district_name}}</p>
      </div>
    </div>
  </div>
</a>
