<div style="margin-top: 5%;">
<div class=row >
  <div class="col-md-4"  style="margin-top: 50px;margin-right: 50px;margin-left: 50px">
    <div class="list-group  ">
      <a  routerLinkActive="active" routerLink="/personal-cabinet/profile" class="list-group-item  ">
      Profile
      </a>
      <a routerLinkActive="active" routerLink="/personal-cabinet/doctors" class="list-group-item">
      My  Doctors
      </a>
      <a routerLinkActive="active" routerLink="/personal-cabinet/medical-info" class="list-group-item">
     Medical Info
      </a>
    </div>
  </div>
  <div class="col-md-6">

    <router-outlet >

    </router-outlet>

  </div>
</div>
</div>
