<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">"contactUs"</h4>
    </div>

    <div class="modal-body">
      <!--<div role="alert">1111111111</div>-->

      <div class="form-group">
        Contact Name
        <input placeholder="name" type="text" class="form-control"/>
      </div>

      <div class="form-group">
        Contact Email
        <input type="email" class="form-control"
               placeholder="email"/>
      </div>

      <div class="form-group">
        Contact Mobile
        <input type="text" class="form-control"
               placeholder="phone"/>
      </div>

      <div class="form-group">
        Contact Subject
        <input type="text" class="form-control"
               placeholder="subject"/>
      </div>

      <div class="form-group">
        Contact Message
        <textarea class="form-control" rows="13" placeholder="Message">
          </textarea>
      </div>
      <hr>
      <div class="form-group">
        <button class="btn btn-info form-control">Contact Button</button>
      </div>


    </div>
  </div>
</div>
